@model IEnumerable<Product>
@{
    ViewData["Title"] = "List";
}

<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">List of Products</h4>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Image</th>
                            <th>Edit</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.UnitPrice.ToString("C2")</td>
                                <td>@item.Category.Name</td>
                                <td>
                                    <img src="~/media/products/@item.Image" width="100" />
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                </td>
                                <td>
                                    <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Remove</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a asp-action="Create" class="btn btn-block btn-primary">Create The New Page</a>
            </div>
        </div>
    </div>
</div>
